/* Coolors Exported Palette - https://coolors.co/000000-10002b-240046-3c096c-5a189a-5a189a-7b2cbf-9d4edd-c77dff */

/* CSS HEX */
--black: #000000ff;
--russian-violet: #10002Bff;
--russian-violet-2: #240046ff;
--persian-indigo: #3C096Cff;
--tekhelet: #5A189Aff;
--tekhelet-2: #5A189Aff;
--french-violet: #7B2CBFff;
--amethyst: #9D4EDDff;
--heliotrope: #C77DFFff;

/* CSS HSL */
--black: hsla(0, 0%, 0%, 1);
--russian-violet: hsla(262, 100%, 8%, 1);
--russian-violet-2: hsla(271, 100%, 14%, 1);
--persian-indigo: hsla(271, 85%, 23%, 1);
--tekhelet: hsla(270, 73%, 35%, 1);
--tekhelet-2: hsla(270, 73%, 35%, 1);
--french-violet: hsla(272, 63%, 46%, 1);
--amethyst: hsla(273, 68%, 59%, 1);
--heliotrope: hsla(274, 100%, 75%, 1);

/* SCSS HEX */
$black: #000000ff;
$russian-violet: #10002Bff;
$russian-violet-2: #240046ff;
$persian-indigo: #3C096Cff;
$tekhelet: #5A189Aff;
$tekhelet-2: #5A189Aff;
$french-violet: #7B2CBFff;
$amethyst: #9D4EDDff;
$heliotrope: #C77DFFff;

/* SCSS HSL */
$black: hsla(0, 0%, 0%, 1);
$russian-violet: hsla(262, 100%, 8%, 1);
$russian-violet-2: hsla(271, 100%, 14%, 1);
$persian-indigo: hsla(271, 85%, 23%, 1);
$tekhelet: hsla(270, 73%, 35%, 1);
$tekhelet-2: hsla(270, 73%, 35%, 1);
$french-violet: hsla(272, 63%, 46%, 1);
$amethyst: hsla(273, 68%, 59%, 1);
$heliotrope: hsla(274, 100%, 75%, 1);

/* SCSS RGB */
$black: rgba(0, 0, 0, 1);
$russian-violet: rgba(16, 0, 43, 1);
$russian-violet-2: rgba(36, 0, 70, 1);
$persian-indigo: rgba(60, 9, 108, 1);
$tekhelet: rgba(90, 24, 154, 1);
$tekhelet-2: rgba(90, 24, 154, 1);
$french-violet: rgba(123, 44, 191, 1);
$amethyst: rgba(157, 78, 221, 1);
$heliotrope: rgba(199, 125, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000000ff, #10002Bff, #240046ff, #3C096Cff, #5A189Aff, #5A189Aff, #7B2CBFff, #9D4EDDff, #C77DFFff);
$gradient-right: linear-gradient(90deg, #000000ff, #10002Bff, #240046ff, #3C096Cff, #5A189Aff, #5A189Aff, #7B2CBFff, #9D4EDDff, #C77DFFff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #10002Bff, #240046ff, #3C096Cff, #5A189Aff, #5A189Aff, #7B2CBFff, #9D4EDDff, #C77DFFff);
$gradient-left: linear-gradient(270deg, #000000ff, #10002Bff, #240046ff, #3C096Cff, #5A189Aff, #5A189Aff, #7B2CBFff, #9D4EDDff, #C77DFFff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #10002Bff, #240046ff, #3C096Cff, #5A189Aff, #5A189Aff, #7B2CBFff, #9D4EDDff, #C77DFFff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #10002Bff, #240046ff, #3C096Cff, #5A189Aff, #5A189Aff, #7B2CBFff, #9D4EDDff, #C77DFFff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #10002Bff, #240046ff, #3C096Cff, #5A189Aff, #5A189Aff, #7B2CBFff, #9D4EDDff, #C77DFFff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #10002Bff, #240046ff, #3C096Cff, #5A189Aff, #5A189Aff, #7B2CBFff, #9D4EDDff, #C77DFFff);
$gradient-radial: radial-gradient(#000000ff, #10002Bff, #240046ff, #3C096Cff, #5A189Aff, #5A189Aff, #7B2CBFff, #9D4EDDff, #C77DFFff);